:root {
    --main-color--: #a7d745;
    --bg-color--: #fff;
    --bg-color-dark--: #fff;
    --font-black--: #000000;
    --font-gray--: #838383;
    --font-white--: #fff;
    --font-size--: 18px;
    --font-head--: 40px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden !important;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::selection {
    background-color: var(--main-color--);
    color: #fff;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color--);
    box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color--);
}
section,
footer,
body {
    background-color: var(--bg-color--);
}
/* start statistic */
.heading {
    font-weight: 900;
    font-size: 2.8rem;
}
.lead {
    font-size: var(--font-size--);
    color: var(--font-gray--);
    line-height: 1.9;
    font-weight: 500;
}
.btn {
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    width: 250px;
    height: 55px;
    font-size: 17px;
    color: white;
    font-weight: 600;
    background-color: var(--main-color--);
    border: 1px solid var(--main-color--);
    line-height: 2;
    transition: color 0.3s ease-in-out;
}
.btn:hover {
    color: var(--font-black--);
}
/* end statistic */

/* ######################################################################## */

/* start navbar */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--bg-color--);
}
.navbar .navbar-brand {
    color: var(--main-color--);
    font-size: calc(var(--font-size--) + 10px);
}
.navbar .navbar-brand:hover {
    color: var(--main-color--);
}
.navbar .navbar-brand span {
    color: var(--font-black--);
}
.navbar .navbar-nav li a {
    transition: color 0.4s ease-in-out;
    text-align: center;
    font-size: var(--font-size--);
    font-weight: 500;
    cursor: pointer;
    color: var(--font-gray--) !important;
}
.navbar .navbar-nav li a:hover {
    color: var(--main-color--) !important;
}
/* end navbar */

/* ###############################################################################################  start header  */

.wrapper {
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/1168742/pexels-photo-1168742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    position: relative;
    background-size: cover;
    background-position: 50% 0;
}
.wrapper .text {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.wrapper h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}
.wrapper svg {
    position: absolute;
    bottom: -30px;
}

/* ###############################################################################################  end header  */
/* start who-we-are */

.who-we-are p:last-of-type {
    color: var(--font-black--);
}
/* end who-we-are */

/* ########################################################################### */

/* start products */

.products .container > h2 {
    text-align: center;
}
.products .container > p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.products .card {
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
    background-color: var(--bg-color-dark--);
    color: var(--font-gray--);
}
.products .card:hover {
    transform: scale(1);
    box-shadow: 0 0.125rem 1.5rem rgba(0, 0, 0, 0.075) !important;
}
.products .card svg path {
    transition: color 0.3s ease-in-out;
}
.products .card svg:hover path {
    color: var(--main-color--);
}
/* end products */

/* ############################################################# */

/* start services */
.background {
    position: relative;
    background-color: rgba(245, 245, 245, 0.493);
    border-radius: 55%;
    padding: 380px;
    margin-bottom: 100px;
    color: var(--font-gray--);
}
.services .background .heading,
.services .background .professional_one,
.services .background .professional_two,
.services .background .data_related,
.services .background .geo_database,
.services .background .application {
    position: absolute;
    padding: 35px;
    border-radius: 50%;
    background-color: var(--bg-color--);
    z-index: 2;
}
.services .background .professional_one p,
.services .background .professional_two p,
.services .background .data_related p,
.services .background .geo_database p,
.services .background .application p {
    position: absolute;
    left: 50%;
    bottom: -40%;
    width: 118%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.services .background .heading {
    top: 6%;
    padding: 0;
    background-color: transparent;
    left: 50%;
    transform: translate(-50%, -50%);
}
.services .background .professional_one {
    top: 18%;
    left: 18%;
    transform: translate(-50%, -50%);
}

.services .background .professional_two {
    bottom: 18%;
    left: 18%;
    transform: translate(-50%, 50%);
}

.services .background .data_related {
    z-index: 1;
    border: 20px solid rgb(231, 231, 231);
    outline: 40px solid rgb(240, 240, 240);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services .background .geo_database {
    top: 18%;
    right: 18%;
    transform: translate(50%, -50%);
}

.services .background .application {
    bottom: 18%;
    right: 18%;
    transform: translate(50%, 50%);
}

.services svg path {
    color: var(--main-color--);
}
.services .teble {
    background-color: #838383;
}
.services .teble .col-6:not(:last-of-type) {
    border-right: 2px solid rgb(201, 201, 201);
}
@media screen and (max-width: 900px) {
    .services .teble .col-6:nth-child(2),
    .services .teble .col-6:nth-child(4) {
        border-right: 0;
    }
    .background {
        padding: 250px;
    }
    .background .heading {
        font-size: 25px;
    }
    .services .background .heading,
    .services .background .professional_one,
    .services .background .professional_two,
    .services .background .data_related,
    .services .background .geo_database,
    .services .background .application {
        padding: 35px;
    }
    .services .background .professional_one p,
    .services .background .professional_two p,
    .services .background .data_related p,
    .services .background .geo_database p,
    .services .background .application p {
        font-size: 0.8rem;
    }
    .services .background div svg {
        width: 50px;
    }
}
@media screen and (max-width: 550px) {
    .background {
        padding: 180px;
    }
    .background .heading {
        font-size: 18px;
    }
    .services .background .heading,
    .services .background .professional_one,
    .services .background .professional_two,
    .services .background .data_related,
    .services .background .geo_database,
    .services .background .application {
        padding: 38px;
    }
    .services .background .data_related {
        outline: 20px solid rgb(240, 240, 240);
    }
    .services .background .professional_one,
    .services .background .professional_two {
        left: 22%;
    }
    .services .background .geo_database,
    .services .background .application {
        right: 22%;
    }
    .services .background .professional_one p,
    .services .background .professional_two p,
    .services .background .data_related p,
    .services .background .geo_database p,
    .services .background .application p {
        font-size: 0.7rem;
        width: 137px !important;
    }
    .services .background .geo_database p {
        width: 202px !important;
    }
    .services .background .application p {
        width: 154px !important;
    }
    .services .background div svg {
        width: 40px;
    }
}

/* end services */
/* ############################################################# */
/* start who-we-server */
/* .who-we-server {
} */
/* end who-we-server */
/* ############################################################# */

/* start why-we-are-different */
/* .why-we-are-different {
} */
.why-we-are-different .join-us {
    background-color: var(--main-color--);
    font-weight: 700;
}
.why-we-are-different .join-us p {
    color: var(--font-white--);
    font-size: 22px;
}
.why-we-are-different .join-us a.btn {
    background-color: var(--bg-color-dark--);
    outline: white;
    color: var(--font-black--);
    font-weight: 600;
}
/* end why-we-are-different */

/* ######################################################## */

/* start our-partners */
.our-partners .circle,
.our-customers .circle {
    /* width: 100%; */
    transition: all 0.3s ease-in-out;
}
@media (max-width: 600px) {
    .our-partners .circle img,
    .our-customers .circle img {
        width: 95%;
    }
}
.our-partners .circle:hover,
.our-customers .circle:hover {
    transform: scale(1.11);
}
.container .icons a:first-of-type,
.container .icons a:nth-child(1),
.container .icons a:nth-child(2) {
    color: var(--font-black--);
    transition: color 0.3s ease-out;
}
.container .icons a:first-of-type:hover {
    color: #e1306c;
}
.container .icons a:nth-child(1):hover {
    color: #1da1f2;
}
.container .icons a:nth-child(2):hover {
    color: #1877f2;
}
/* end our-partners */
/* ######################################################## */

/* star contact us */
.contact-us {
    background-color: var(--main-color--);
}
.contact-us h3 {
    color: var(--font-white--);
}
/* .contact-us p {
} */
.contact-us input,
.contact-us textarea,
.contact-us select {
    display: block;
    width: 100%;
    background-color: var(--main-color--);
    border: 1.7px solid var(--bg-color--);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 8px 30px;
    color: var(--font-white--);
    font-weight: 600;
    border-radius: 6px;
}
.contact-us input::placeholder,
.contact-us textarea::placeholder,
.contact-us select::placeholder {
    color: var(--font-white--);
}
.contact-us input[type="submit"] {
    width: 40%;
    padding: 12px;
    margin: 40px auto 0;
    background-color: white;
    color: var(--font-black--);
    border-radius: 20px;
}
.contact-us input:focus,
.contact-us textarea:focus {
    outline: none;
}
.contact-us .map {
    flex: 1 1 40rem;
    margin: 1rem;
    /* @extend %box-shadow; */
    border-radius: 0.7rem;
    border: 1rem solid var(--font-white--);
    width: 100%;
}
@media (max-width: 600px) {
    .contact-us .map {
        width: 80%;
        margin: 0 auto;
    }
}
/* end contact us */

/* #################################################################        loading page */
/* start footer */
footer {
    padding: 20px;
    border-top: 0.8px solid rgb(185, 185, 185);
}
/* end footer */
/* #################################################################        loading page */

/* start loading page */
body {
    overflow-y: hidden;
}
#loader-wrapper {
    background-color: #a8d744;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin-top: 0;
    top: 0;
}
#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.object {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 65px;
    top: 65px;
    border-radius: 50%;
    background: #000;
}
.object:nth-child(2n + 0) {
    margin-right: 0;
}
#object_one {
    -webkit-animation: object_one 2s infinite;
    animation: object_one 2s infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#object_two {
    -webkit-animation: object_two 2s infinite;
    animation: object_two 2s infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
#object_three {
    -webkit-animation: object_three 2s infinite;
    animation: object_three 2s infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#object_four {
    background: #fff;
    -webkit-animation: object_four 2s infinite;
    animation: object_four 2s infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
#object_five {
    -webkit-animation: object_five 2s infinite;
    animation: object_five 2s infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
#object_six {
    -webkit-animation: object_six 2s infinite;
    animation: object_six 2s infinite;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
#object_seven {
    -webkit-animation: object_seven 2s infinite;
    animation: object_seven 2s infinite;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
#object_eight {
    -webkit-animation: object_eight 2s infinite;
    animation: object_eight 2s infinite;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
#object_big {
    background: #000;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
    -webkit-animation: object_big 2s infinite;
    animation: object_big 2s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
@-webkit-keyframes object_big {
    50% {
        -webkit-transform: scale(0.5);
    }
}
@keyframes object_big {
    50% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}
@-webkit-keyframes object_one {
    50% {
        -webkit-transform: translate(-35px, -35px);
    }
}
@keyframes object_one {
    50% {
        transform: translate(-35px, -35px);
        -webkit-transform: translate(-35px, -35px);
    }
}
@-webkit-keyframes object_two {
    50% {
        -webkit-transform: translate(0, -35px);
    }
}
@keyframes object_two {
    50% {
        transform: translate(0, -35px);
        -webkit-transform: translate(0, -35px);
    }
}
@-webkit-keyframes object_three {
    50% {
        -webkit-transform: translate(35px, -35px);
    }
}
@keyframes object_three {
    50% {
        transform: translate(35px, -35px);
        -webkit-transform: translate(35px, -35px);
    }
}
@-webkit-keyframes object_four {
    50% {
        -webkit-transform: translate(35px, 0);
    }
}
@keyframes object_four {
    50% {
        transform: translate(35px, 0);
        -webkit-transform: translate(35px, 0);
    }
}
@-webkit-keyframes object_five {
    50% {
        -webkit-transform: translate(35px, 35px);
    }
}
@keyframes object_five {
    50% {
        transform: translate(35px, 35px);
        -webkit-transform: translate(35px, 35px);
    }
}
@-webkit-keyframes object_six {
    50% {
        -webkit-transform: translate(0, 35px);
    }
}
@keyframes object_six {
    50% {
        transform: translate(0, 35px);
        -webkit-transform: translate(0, 35px);
    }
}
@-webkit-keyframes object_seven {
    50% {
        -webkit-transform: translate(-35px, 35px);
    }
}
@keyframes object_seven {
    50% {
        transform: translate(-35px, 35px);
        -webkit-transform: translate(-35px, 35px);
    }
}
@-webkit-keyframes object_eight {
    50% {
        -webkit-transform: translate(-35px, 0);
    }
}
@keyframes object_eight {
    50% {
        transform: translate(-35px, 0);
        -webkit-transform: translate(-35px, 0);
    }
}

/* end loading page */
/* ######################################################## */
/* start got to top */

/* end loading page */
.go-top-btn {
    position: fixed;
    cursor: pointer;
    bottom: 2%;
    right: 24px;
    color: #ffffff;
    background-color: var(--main-color--);
    z-index: 999;
    width: 40px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    -webkit-transition: all 0.9s ease-out 0s;
    transition: all 0.9s ease-out 0s;
    -webkit-transform: translateY(-50em);
    transform: translateY(-50em);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
}
.go-top-btn.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-radius: 0;
}
.go-top-btn svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 700;
    transition: all 0.6s ease-out;
}
.go-top-btn svg:first-of-type {
    top: 50%;
    opacity: 1;
}
.go-top-btn:hover svg:first-of-type {
    top: -5px;
    opacity: 0;
}
.go-top-btn svg:last-of-type {
    transition: all 0.3s ease-out;
    top: 100%;
    opacity: 0;
}
.go-top-btn:hover svg:last-of-type {
    top: 50%;
    opacity: 1;
}
.go-top-btn::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    -webkit-animation: ripple 1.6s ease-out infinite;
    animation: ripple 1.6s ease-out infinite;
    opacity: 0;
    background: var(--main-color--);
}

@keyframes ripple {
    0%,
    35% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
    }
}
